<div class="container mt-5 mb-5">
  <!-- Header -->
  <h2 class="text-center text-primary display-4 mb-4">User Account</h2>

  <!-- Loader -->
  <div *ngIf="isLoading" class="text-center mt-5">
    <div class="spinner-border text-primary mt-5" role="status"></div>
    <p><b>Loading...</b></p>
  </div>

  <div *ngIf="!isLoading">
    <!-- Update Information -->
    <div class="card shadow-lg border-0 mb-4 bg-light">
      <div class="card-header text-uppercase fw-bold bg-primary text-light">Update Account Information</div>
      <div class="card-body p-5">
        <!-- Success/Error Messages -->
        <div *ngIf="updateInfoSuccess" class="alert alert-success">{{ updateInfoSuccess }}</div>
        <div *ngIf="updateInfoError" class="alert alert-danger">{{ updateInfoError }}</div>

        <form [formGroup]="updateInfoForm" (ngSubmit)="onUpdateProfile()">
          <div class="form-group">
            <label for="name" class="text-muted">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control form-control-lg"
              [placeholder]="userData.name || 'Enter your name'"
              [ngClass]="{
                'is-valid': updateInfoForm.get('name')?.valid && (updateInfoForm.get('name')?.dirty || updateInfoForm.get('name')?.touched || submittedInfo),
                'is-invalid': updateInfoForm.get('name')?.invalid && (updateInfoForm.get('name')?.dirty || updateInfoForm.get('name')?.touched || submittedInfo)
              }"
            />
            <div *ngIf="updateInfoForm.get('name')?.invalid && (updateInfoForm.get('name')?.dirty || updateInfoForm.get('name')?.touched || submittedInfo)" class="text-danger">
              <div *ngIf="updateInfoForm.get('name')?.errors?.['required']">Name is required.</div>
              <div *ngIf="updateInfoForm.get('name')?.errors?.['minlength']">Name must be at least 2 characters long.</div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="email" class="text-muted">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control form-control-lg"
              [placeholder]="userData.email || 'Enter your email'"
              [ngClass]="{
                'is-valid': updateInfoForm.get('email')?.valid && (updateInfoForm.get('email')?.dirty || updateInfoForm.get('email')?.touched || submittedInfo),
                'is-invalid': updateInfoForm.get('email')?.invalid && (updateInfoForm.get('email')?.dirty || updateInfoForm.get('email')?.touched || submittedInfo)
              }"
            />
            <div *ngIf="updateInfoForm.get('email')?.invalid && (updateInfoForm.get('email')?.dirty || updateInfoForm.get('email')?.touched || submittedInfo)" class="text-danger">
              <div *ngIf="updateInfoForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="updateInfoForm.get('email')?.errors?.['email']">Invalid email address.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg mt-3" [disabled]="loadingUpdateInfo">
            <span *ngIf="loadingUpdateInfo" class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
            <span *ngIf="!loadingUpdateInfo">Update</span>
          </button>
        </form>
      </div>
    </div>

    <!-- Update Password -->
    <div class="card shadow-lg border-0 mb-4 bg-light">
      <div class="card-header text-uppercase fw-bold bg-primary text-light">Update Password</div>
      <div class="card-body p-5">
        <!-- Success/Error Messages -->
        <div *ngIf="updatePasswordSuccess" class="alert alert-success">{{ updatePasswordSuccess }}</div>
        <div *ngIf="updatePasswordError" class="alert alert-danger">{{ updatePasswordError }}</div>

        <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePassword()">
          <div class="form-group">
            <label for="current_password" class="text-muted">Current Password</label>
            <div class="position-relative">
              <input
                [type]="showCurrentPassword ? 'text' : 'password'"
                class="form-control form-control-lg"
                id="current_password"
                formControlName="current_password"
                placeholder="Enter current password"
                (input)="checkPasswordInput('current', $event)"
                [ngClass]="{
                  'is-valid': updatePasswordForm.get('current_password')?.valid && (updatePasswordForm.get('current_password')?.dirty || updatePasswordForm.get('current_password')?.touched || submittedPassword),
                  'is-invalid': updatePasswordForm.get('current_password')?.invalid && (updatePasswordForm.get('current_password')?.dirty || updatePasswordForm.get('current_password')?.touched || submittedPassword)
                }"
                style="background-image: none !important;"
              />
              <span *ngIf="isCurrentPasswordFilled" class="position-absolute top-50 end-0 translate-middle-y pe-3" (click)="togglePasswordVisibility('current')" style="cursor: pointer;">
                <i [class]="showCurrentPassword ? 'fas fa-eye-slash text-muted' : 'fas fa-eye text-muted'"></i>
              </span>
            </div>
            <div *ngIf="updatePasswordForm.get('current_password')?.invalid && (updatePasswordForm.get('current_password')?.dirty || updatePasswordForm.get('current_password')?.touched || submittedPassword)" class="text-danger">
              <div *ngIf="updatePasswordForm.get('current_password')?.errors?.['required']">Current Password is required.</div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="new_password" class="text-muted">New Password</label>
            <div class="position-relative">
              <input
                [type]="showNewPassword ? 'text' : 'password'"
                class="form-control form-control-lg"
                id="new_password"
                formControlName="new_password"
                placeholder="Enter new password"
                (input)="checkPasswordInput('new', $event)"
                [ngClass]="{
                  'is-valid': updatePasswordForm.get('new_password')?.valid && (updatePasswordForm.get('new_password')?.dirty || updatePasswordForm.get('new_password')?.touched || submittedPassword),
                  'is-invalid': updatePasswordForm.get('new_password')?.invalid && (updatePasswordForm.get('new_password')?.dirty || updatePasswordForm.get('new_password')?.touched || submittedPassword)
                }"
                style="background-image: none !important;"
              />
              <span *ngIf="isNewPasswordFilled" class="position-absolute top-50 end-0 translate-middle-y pe-3" (click)="togglePasswordVisibility('new')" style="cursor: pointer;">
                <i [class]="showNewPassword ? 'fas fa-eye-slash text-muted' : 'fas fa-eye text-muted'"></i>
              </span>
            </div>
            <div *ngIf="updatePasswordForm.get('new_password')?.invalid && (updatePasswordForm.get('new_password')?.dirty || updatePasswordForm.get('new_password')?.touched || submittedPassword)" class="text-danger">
              <div *ngIf="updatePasswordForm.get('new_password')?.errors?.['required']">New Password is required.</div>
              <div *ngIf="updatePasswordForm.get('new_password')?.errors?.['minlength']">New Password must be at least 8 characters long.</div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="password_confirmation" class="text-muted">Confirm New Password</label>
            <div class="position-relative">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control form-control-lg"
                id="password_confirmation"
                formControlName="password_confirmation"
                placeholder="Confirm new password"
                (input)="checkPasswordInput('confirm', $event)"
                [ngClass]="{
                  'is-valid': updatePasswordForm.get('password_confirmation')?.valid && (updatePasswordForm.get('password_confirmation')?.dirty || updatePasswordForm.get('password_confirmation')?.touched || submittedPassword),
                  'is-invalid': (updatePasswordForm.get('password_confirmation')?.invalid || updatePasswordForm.errors?.['mismatch']) && (updatePasswordForm.get('password_confirmation')?.dirty || updatePasswordForm.get('password_confirmation')?.touched || submittedPassword)
                }"
                style="background-image: none !important;"
              />
              <span *ngIf="isConfirmPasswordFilled" class="position-absolute top-50 end-0 translate-middle-y pe-3" (click)="togglePasswordVisibility('confirm')" style="cursor: pointer;">
                <i [class]="showConfirmPassword ? 'fas fa-eye-slash text-muted' : 'fas fa-eye text-muted'"></i>
              </span>
            </div>
            <div
              *ngIf="(updatePasswordForm.errors?.['mismatch'] && (updatePasswordForm.get('password_confirmation')?.dirty || updatePasswordForm.get('password_confirmation')?.touched || submittedPassword))"
              class="text-danger"
            >
              Passwords must match.
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg mt-3" [disabled]="loadingUpdatePassword">
            <span *ngIf="loadingUpdatePassword" class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
            <span *ngIf="!loadingUpdatePassword">Update Password</span>
          </button>
        </form>
      </div>
    </div>

  <!-- Delete Account -->
  <div class="card shadow-lg border-0 mb-4 bg-light">
    <div class="card-header text-uppercase fw-bold bg-danger text-light">Delete Account</div>
    <div class="card-body p-5">
      <!-- Error Message -->
      <div *ngIf="deleteAccountError" class="alert alert-danger">{{ deleteAccountError }}</div>

      <form [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteAccount()">
        <div class="form-group">
          <label for="password" class="text-muted">Enter Password to Confirm</label>
          <div class="position-relative">
            <input
              [type]="showDeletePassword ? 'text' : 'password'"
              class="form-control form-control-lg"
              id="password"
              formControlName="password"
              placeholder="Enter current password"
              (input)="checkPasswordInput('delete', $event)"
              [ngClass]="{
                'is-valid': deleteAccountForm.get('password')?.valid && (deleteAccountForm.get('password')?.dirty || deleteAccountForm.get('password')?.touched || submittedDelete),
                'is-invalid': deleteAccountForm.get('password')?.invalid && (deleteAccountForm.get('password')?.dirty || deleteAccountForm.get('password')?.touched || submittedDelete)
              }"
              style="background-image: none !important;"
            />
            <span *ngIf="isDeletePasswordFilled" class="position-absolute top-50 end-0 translate-middle-y pe-3" (click)="togglePasswordVisibility('delete')" style="cursor: pointer;">
              <i [class]="showDeletePassword ? 'fas fa-eye-slash text-muted' : 'fas fa-eye text-muted'"></i>
            </span>
          </div>

          <div *ngIf="deleteAccountForm.get('password')?.invalid && (deleteAccountForm.get('password')?.dirty || deleteAccountForm.get('password')?.touched || submittedDelete)" class="text-danger">
            <div *ngIf="deleteAccountForm.get('password')?.errors?.['required']">Password is required.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-danger btn-block btn-lg mt-3" [disabled]="loadingDeleteAccount">
          <span *ngIf="loadingDeleteAccount" class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>
          <span *ngIf="!loadingDeleteAccount">Delete Account</span>
        </button>
      </form>
    </div>
  </div>
</div>
