<nav class="navbar navbar-dark" style="background: linear-gradient(45deg, #010b1f, #0f1d36);">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" style="font-size: 24px;" routerLink="/" (click)="closeNavbar()">
      <img src="logo.png" alt="Logo" style="height: 40px; width: auto; margin-right: 10px;" />
      Financial Advisor
    </a>
    <button class="navbar-toggler" style="border: none;" (click)="toggleNavbar()">
      <i class="fa fa-bars" style="font-size: 28px;"></i>
    </button>
    <div class="navbar-collapse menu" [ngClass]="{'show': isNavbarVisible}">
      <div class="menu-overlay" *ngIf="isNavbarVisible" (click)="toggleNavbar()"></div>
      <a class="navbar-brand ms-4" routerLink="/" (click)="closeNavbar()">
        <div class="brand-text">
          Financial Advisor
          <span class="subtitle">Your Money, Your Way</span>
        </div>
      </a>
      <hr class="navbar-divider" />
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-compass"></i>  Dashboard
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/budget']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-wallet"></i>  Budget
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/goal']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-bullseye"></i>  Goal
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/categories']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-list"></i>  Categories
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/expenses']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-receipt"></i>  Expenses
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/analyze']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-chart-pie"></i>  Analyze
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/chat']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fa-solid fa-robot"></i>  Chat
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/invest']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-chart-line"></i>  Invest
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/history']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-history"></i>  History
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/account']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-user-circle"></i>  Account
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-sign-in-alt"></i>  Login
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active" (click)="closeNavbar()">
            <i class="fas fa-user-edit"></i>  Register
          </a>
        </li>
      </ul>
      <div class="logout-section" *ngIf="isLoggedIn">
        <a class="nav-link logout-button" href="javascript:void(0)" (click)="logout(); closeNavbar()">Logout</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
