<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="logo.png" alt="Logo" style="height: 40px; width: auto; margin-right: 10px;" />
      Financial Advisor
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/budget']" routerLinkActive="active">Budget</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/goal']" routerLinkActive="active">Goal</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/categories']" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/expenses']" routerLinkActive="active">Expenses</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/analyze']" routerLinkActive="active">Analyze</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/invest']" routerLinkActive="active">Invest</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/history']" routerLinkActive="active">History</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link Red-Hov" href="javascript:void(0)" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link Blue-Hov" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
